{% extends 'base.html.twig' %}

{% block title %} Ajout Societe {% endblock %}

{% block body %}
        <div class="row formulaire" data-aos="fade-up" data-aos-delay="100">
            <div class="section-title">
                <h3> ajouter une Societe</h3>
            </div>
              {{form_start(formSociete, {'attr': {'class':''}})}}
              
              <div class="form-group">
              {{form_row(formSociete.nom,{'label' : 'Nom', 'attr' : {'class':'form-control'}})}}
              </div>
              <div class="form-group">
              {{form_row(formSociete.description,{'label' : 'Description', 'attr' : {'class':'form-control'}})}}
              </div>
              <div class="form-group">
              {{form_row(formSociete.type,{'label' : 'Type', 'attr' : {'class':'form-control'}})}}
              </div>
              <div class="form-group">
              {{form_row(formSociete.codepostal,{'label' : 'Code Postal', 'attr' : {'class':'form-control'}})}}
              </div>
               <div class="form-group">
              {{form_row(formSociete.ville,{'label' : 'Ville', 'attr' : {'class':'form-control'}})}}
              </div> <br>
              {% if editmode %}
              <input type="hidden" value="{{societe.id}}" name="target">
              <div class="text-center"><button type="submit">Modifier</button></div>
              {% else %}
                <div class="text-center"><button type="submit">Ajouter</button></div>
              {% endif %}             
              
             {{form_end(formSociete)}}
        </div>
      </div>
{% endblock %}
